html, body { width: 100%; margin: 0;}



@font-face {
    font-family: "Roboto Light";
    src: url("fonts/Roboto-Light.ttf");
  }




header{
    width: 100%;
    height: 100vh;

    color: white;
    font-family: "Roboto Light";
}
header>div{
    width: 100%;
    height: 100%;

    position: absolute;
}

header .background{
    background-image: url("img/bg/OfficeBG.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    filter: brightness(0.3) contrast(0.9);
}

header .main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

header .main h1{
    margin-top: 20px;
    font-size: 42px;
}
header .main h2{
    margin-bottom: 4%;

    font-size: 18px;
    font-weight: lighter;
}

header .main .employee {
    width: 80%;
    height: 50%;

    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
header .main .employee .photo{
    height: 50vh;
    width: 50vh;
    
    background-image: url("img/person/Person1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    box-sizing: border-box;
    border: 10px solid lightgray;
}
header .main .employee .text{
    height: 40vh;
    width: calc(100% - 50vh);

    background-color: white;    
    padding: 0px 50px;
    
    color: black;
    box-sizing: border-box;
    border-bottom: 3px solid red;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
}
header .main .employee .text p::after{
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fuga reiciendis explicabo deleniti eaque omnis, aliquid, vero recusandae laudantium, quidem blanditiis quod. Fuga, porro odit. Similique a soluta enim ipsum.";
}
header .main .employee .text div .name{
    font-weight: bold;
    font-size: 21px;
}
header .main .employee .text div.name::after{
    content: "Melina Albrecht";
}
header .main .employee .text div .desc{
    font-size: 15px;
    color: red;
}
header .main .employee .text div .desc::after{
    content: "Founder TingTing";
}




section.worksteps{
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    padding-bottom: 80px;
    margin-bottom: 10px;

    border-bottom: 3px solid orange;
}
section.worksteps .steps{
    width: 90%;
}
section.worksteps p{
    font-size: 300%;
    font-weight: bold;
    margin: 50px 0 10px 0;
}
section.worksteps h1{
    font-size: 100%;
    font-weight: lighter;
    margin-bottom: 5%;
}
section.worksteps .steps{
    width: 100%;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

section.worksteps .steps>div{
    width: 40%;
    height: 35vh;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.worksteps .steps>div .gradient{
    width: 100%;
    height: 100%;
    
    position: relative;
    z-index: 1;
}
section.worksteps .steps>div .text{
    width: 80%;
    height: 100%;
    
    position: relative;
    left: 0px;
    top: -40vh;
    left: -60%;

    z-index: 2;
    
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    border-bottom: 3px solid;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
section.worksteps .steps>div .text p{
    margin: 10px 0 0 10px;
    color: lightgray;
}
section.worksteps .steps>div .text h3{
    font-size: 150%;
}
section.worksteps .steps>div .text div{
    width: 70%;
    padding-left: 10%;
}


section.worksteps .steps .one{
    background-image: url("img/bg/Work1.jpg");
}
section.worksteps .steps .two{
    background-image: url("img/bg/Work2.avif");
}
section.worksteps .steps .three{
    background-image: url("img/bg/Work3.avif");
}
section.worksteps .steps .four{
    background-image: url("img/bg/Work4.png");
}
section.worksteps .steps .one .text{
    border-bottom-color: red;
}
section.worksteps .steps .two .text{
    border-bottom-color: green;
}
section.worksteps .steps .three .text{
    border-bottom-color: blue;
}
section.worksteps .steps .four .text{
    border-bottom-color: orange;
}

section.worksteps .steps .one .gradient{
    background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.3), transparent);
}
section.worksteps .steps .two .gradient{
    background-image: linear-gradient(0deg, rgba(0, 255, 0, 0.3), transparent);
}
section.worksteps .steps .three .gradient{
    background-image: linear-gradient(0deg, rgba(255, 0, 255, 0.3), transparent);
}
section.worksteps .steps .four .gradient{
    background-image: linear-gradient(0deg, rgba(255, 150, 0, 0.3), transparent);
}


section.worksteps .steps .two .text, section.worksteps .steps .four .text{
    left: 80%;
}


section.we{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
    border-bottom: 2px solid orange;
}
section.we p{
    display: block;
    text-align: center;
    width: 18%;

    font-size: 200%;
    border-bottom: 1px solid red;
}
section.we h2{
    width: 50%;
    text-align: center;

    color: gray;
    margin-bottom: 60px;

    font-size: 100%;
    font-weight: lighter;;
}

section.we .person{
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section.we .person div{
    background-color: lightgray;
    margin-bottom: 50px;
}
section.we .person .left{
    width: 30%;
}
section.we .person .right{
    width: 60%;
}
section.we .person .left *{
    text-align: center;
    margin: auto;

    margin-top: 10px;
}
section.we .person .left .photo{
    width: 10vw;
    height: 10vw;

    margin-top: 50px;

    background-image: url("img/person/Person2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    clip-path: circle();
}
section.we .person .left h2{
    margin-bottom: 80px;
}

section.we .person .right{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;

    
}
section.we .person .right *{
    margin: 0 auto;
}
section.we .person .right h2{
    width: 90%;
    text-align: left;
}

section.we .person .right .skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 94%;
    margin: 0 auto;
}
section.we .person .right .skills h1{
    width: 30%;
    font-size: 100%;
    margin-bottom: 10px;
}
section.we .person .right .skills .bar{
    width: 55%;

    height: 10px;
    box-sizing: border-box;

    border-bottom: 3px solid white;
    border-radius: 10%;
}
section.we .person .right .skills .bar div{
    width: 50%;
    height: 100%;
    display: inline-block;
    position: relative;
    top: -4px;

    box-sizing: border-box;

    border-bottom: 3px solid red;
    border-radius: 10%;
}
section.we .person .right .skills h2{
    width: 10%;
    text-align: center;
}

section.select{
    margin-bottom: 100px;
}
section.select p{
    display: block;
    text-align: center;
    width: 100%;
    margin: 30px 0 10px 0;
    font-size: 200%;
}
section.select h2{
    display: block;
    text-align: center;
    width: 100%;
    font-weight: lighter;

    font-size: 100%;
    margin-bottom: 70px;
}
section.select .items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 80%;
    margin: 0 auto;
}
section.select .items div{
    width: 30%;
    height: 30vh;
}
section.select .items div *{
    display: inline-block;
}
section.select .items h1{
    width: 40%;
    font-size: 150%;
    margin-left: 25px;
}
section.select .items h2{
    width: 100%;
    font-size: 100%;
    text-align: left;
}
section.select .items{
    width: 100%;
    font-size: 100%;
}
section.select a{
    color: white;
    padding: 5px 20px;
    font-size: 70%;

    background-color: orangered;
    border-radius: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer{
    width: 100%;
    height: 145vh;

    background-image: url("img/bg/Forest.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer p{
    width: 100%;
    text-align: center;

    padding-top: 5vh;
    margin: 0;
    font-size: 400%;
}
footer h1{
    width: 100%;
    text-align: center;

    padding-top: 2vh;
    font-size: 120%;
    font-weight: lighter;

    width: 60%;
    margin: auto;
}
footer form{
    margin: 80px auto 40px auto;
    width: 60%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer form input{
    width: 35%;
    margin-bottom: 4%;
    padding: 3% 5%;
    border-radius: 5px;
    border-width: 0;
}
footer form input.message{
    width: 85%;
    margin-bottom: 2%;
    padding: 5%;
    height: 20vh;
}
footer button{
    width: 20vw;
    height: 6vh;
    background-color: orangered;
    border-width: 0px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-left: 40vw;
}
footer div.end{
    height: 30vh;
    width: 80vw;

    margin: 50px auto;

    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
}
footer div.end div{

    width: 25%;
    height: 100%;

    border-bottom: 3px solid;
}

